@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #333333;
  --font-sans: var(--font-montserrat);
}

body {
  background: #ffffff;
  color: #333333;
  font-family: var(--font-montserrat), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montagu-slab), serif;
}
